[2016-05-14 14:20] brian-brazil opened #2 "Potential ways to improve metrics"
There's a few ways these metrics can be improved in line with [best practices]( https://prometheus.io/docs/instrumenting/writing_exporters/)

`service` is a common target label, so it is unwise to use it as an instrumentation label as it'll cause clashes for some users. I recommend `grpc_service` instead.

`type` is a very generic label name, try to find something more specific. This is to avoid h

[2016-05-14 17:46] mwitkow commented on #2
Re `type`, yea this may need a better name. There's no clear indication on the user side what this "is". I went with type because I couldn't think about anything else that would distinguish `unary`, `client_stream`, `server_stream` and `bidi_stream`.
`class`, `convention` maybe? ` @ejona86 thoughts?

Re `service`: I'm kinda strongly for this. `service MyService` is what users type in `.proto` file

[2016-05-14 18:16] brian-brazil commented on #2
The problem is it's a first-level concept in many users' architecture too, so it'll end up as `exported_service` for a subset of your users which is worse. You could prefix method too.

We usually use seconds.

It's 14x on top of a histogram, and every method+service the user has. It's the combinatorial explosion that's the risk. That it works for you doesn't mean it'll work for all your users.

T

[2016-05-15 08:18] fabxc commented on #2
Feeling both sides on `service`. But I do believe most people should assign this target label to `job` instead. Often people have their `job` be on opaque string of the monitored service and additional dimensions, which I don't consider good.
Practically, using `grpc_service` may prevent some users from the `exported_service` weirdness but this way also encourages non-optimal configuration.

Can w

[2016-05-15 08:45] brian-brazil commented on #2
That depends on the use case. Once you get beyond the trivial, you need more labels than `job` to organise your targets and Prometheus servers. `service` and `team` are likely to be the first labels used for this.

If we consider the scale of setups I've seen in the past we'd be talking 1k instances with 50 services which is just over 10M time series. That's too much to fit inside a single Prometh

[2016-05-15 09:03] fabxc commented on #2
Yes, exactly my point. Not going with `service` is certainly the safer bet.
Given that `job` mostly partitions metrics with equal semantics/avoids conflicts it's equivalent to `service` though in most sane cases I can think of though.

[2016-05-15 11:54] mwitkow commented on #2
I'd rather not use `grpc_` prefixes for labels of metrics that already are prefixed with `grpc`. It feels like clutter. I also think that most users of gRPC will be interested in "services" on gRPC level, i.e. it doesn't really matter in which `job` your code is running in, what is important is what `service` it implements. In other words, I believe that the gRPC concept of service is going to be

[2016-05-15 13:35] brian-brazil commented on #2
That only works if the user starts using gRPC metrics before they start using the `service` label for other purposes, that's not at all a safe assumption.

Remember that you are only one of potentially hundreds of libraries exposing Prometheus metrics within an organisation. It's not reasonable for users to know in advance all the libraries they might use, and what common target labels they've sta

[2016-05-15 19:07] mwitkow commented on #2
Back at Google we did build SLA models based on gRPC return codes. The definition of codes is fairly clear now (e.g. not found is a client error, similar to a `404`).

I really do not agree with your assessment. Neither of the other parameters is dynamic, and the labels are stable (service names and methods). I agree there's a lot of data to crunch, but RPC monitoring deals with 80% of user-provid

[2016-05-15 19:51] brian-brazil commented on #2
That depends very much on the application. Not found is the canonical example of where this is fuzzy as it can be a system error due to a propagation delay or a user error due to requesting a non-existent resource.

The question isn't stability, it's a question of cardinality. 10+ services/methods is not unusual.

I know that good RPC metrics are important, and that average is sufficient for the v

[2016-05-15 23:00] mwitkow commented on #2
I'm still not convinced by the argument of prefixing `service` with `grpc_service`. I do believe that people who use gRPC think of their gRPC services as services, since that is what `.proto` files and gRPC generated code is reminding them about on every step. I think they'd be more willing to change their target names just to have their own internal naming consistency. Especially since the target

[2016-05-16 00:02] brian-brazil commented on #2
I'm not following your argument here. As you note the developers of a piece of instrumentation are unlikely to have control of every environment in which it's used. To me that means they won't generally be trivially able to change the target labels just because one small library happens to clash. In some organisations it may not even be a possibility, as the label could already could be too well e

[2016-05-16 08:31] mwitkow commented on #2
As I said above: sadly it's not possible this is not possible from a technical point of view. These interceptors have no access to the gRPC server's registration (these are private) and can't enumerate each `service` and `method` in order to initialize things to 0.

My argument here is that gRPC is not "one small library", it is meant as "the way your services interact". Given that the concept of

[2016-05-16 09:06] brian-brazil commented on #2
They could be initialised on every RPC. If we can't do that then we need to create a success and failure metric without labels, which will avoid the main pitfalls (with the downside of loss of granularity).

That's making the assumption that the user is aware that gRPC exists and has explicitly chosen to use it at an organisational level from day one. For example etcd uses it internally, and I'm w

[2016-05-16 13:05] huichen opened #4 "A complete example to expose /metrics"
Can you provide a complete example to expose /metrics in grpc server? Can't find any in the codebase.

[2016-05-16 17:08] ejona86 commented on #2
Yeah... grpc-java is using `Method Type`. C++ is using `RPC Type`. Not happy with it but it was "good enough." `Streaming Type` may not be too wonky. `Cardinality` may not be too bad.

[2016-05-16 17:38] brian-brazil commented on #2
Sometimes you just end up with `type` being the best option.

[2016-05-16 22:20] #4 closed

[2016-05-16 22:20] mwitkow commented on #4
For a more comprehensive guide on how to use golang Prometheus library, see:
https://github.com/prometheus/client_golang

[2016-05-16 22:36] mwitkow opened #5 "Improve metric intiialization to 0"
@brian-brazil in #2 mentioned:

gRPC interceptors only see an RPC when it lands, they have no access to all registrations.

@brian-brazil, can you please clarify what you mean there? A single non-labeled metric? How will that help? What kind of pitfalls?

[2016-05-16 22:37] mwitkow commented on #2
@ejona86 thanks for clarifying. It seems that `type` is the only common denominator across languages, so I'll roll with that.

@brian-brazil, we both know that Googlers/Xooglers would use `job` out of habit..  That's why Prometheus uses it :wink:

I tried the metrics with `grpc_` prefix on our systems today. The expressions look wonky and repetitive, and I'd rather stick with `service` for now. Th

[2016-05-16 22:46] brian-brazil commented on #5
We can't do anything about not knowing the different services, but once we intercept an rpc we know that that it exists and can initialise all labels then.

[2016-05-16 23:04] mwitkow commented on #5
What are the possible problems?

On Mon, 16 May 2016, 23:46 Brian Brazil, <notifications@github.com> wrote:

[2016-05-16 23:09] brian-brazil commented on #2
`job` is one of the labels they must use anyway, as Prometheus maintains it as a special label along with `instance`.

`zone`, `service` and `shard` are the others which which will be used out of habit, however they are not special within Prometheus as we don't presume that everyone uses a particular label taxonomy.

I'm surprised that me experiencing this exact problem in the past is not consider

[2016-05-16 23:10] brian-brazil commented on #5
The issue with that approach is performance, as you've to initialise all the labels each time. A small cache would probably handle it.

[2016-05-17 07:04] mwitkow commented on #2
@brian-brazil, if you're so worried about label clash, why doesn't Prometheus implement a label namespacing system (e.g. using first metric prefix for all labels)? Or blacklist certain labels in Prometheus client libraries? Or have clear documentation front and centre about which labels are prohibited from use with a clear explanation why? Surely the whole cohesion of the userbase can't rely on yo

[2016-05-17 13:15] brian-brazil commented on #2
If it were being designed today something similar to Kubernetes' labels is likely what we'd have. We don't have that though and it's too late to add it, so we get to emulate it by hand.

We blacklist the internal reserved names, however there's use cases for using target labels in instrumentation (primarily around alerting) so we can't blacklist them.

There's a few which are more important to avo

[2016-05-17 15:40] mwitkow commented on #2
I'll add the `grpc_` prefix to all the labels.
Primarily because @ejona86 mentioned that `grpc_type` is one of the names for "unary" etc., and I gave that a second thought.
Secondarily: indeed, my memory served me wrong.The Google internal name is `rpc_service_name`. Thirdly, I would like the library and its conventions (with a Java version coming soonish) to be used more widely among the Promethe

[2016-05-17 15:48] ejona86 commented on #2
Not that it would change your decision, but _RPC_ type was one of the names, not gRPC.

[2016-05-17 15:50] brian-brazil commented on #2
Indeed. We have client library and exporter guidelines for exactly this reason. In this case the code is probably sufficient with a statement to replicate it exactly.

[2016-05-17 21:22] #2 closed

[2016-05-17 21:28] mwitkow commented on #5
I meant: what are the issues that uninitialized `labels` can cause? Are they related to division? Can you provide examples?

In case of the examples the `started_total` will always "exist" - because they're hit the first time time the interceptor sees the `grpc_service`+`grpc_method` combo.

[2016-05-17 21:56] brian-brazil commented on #5
This issue is anytime you write an expression that presumes that labels always exist, but they don't

Your "unary request error percentage" example will return nothing if there has never been a failure.

[2016-05-17 22:02] mwitkow commented on #5
Um. Ok, that's not that much of an issue.

[2016-05-17 22:09] brian-brazil commented on #5
It can be quite a major issue, preventing alerts from firing depending exactly on how expressions are constructed. It's also really annoying to work with.

If the expression was written the other way around for example, a 100% error ratio would not trigger an alert.

[2016-05-17 22:19] mwitkow commented on #5
Well there's not much that can be done here:
the gRPC service map of all services is [private](https://github.com/grpc/grpc-go/blob/master/server.go#L211) and not accessible from the Interceptor. Moreover, the `RegisterService` method is also public just so that generated code can use it. The `ServiceDesc` of the generated code is, handily, [private as well](https://github.com/grpc/grpc-go/blob/ma

[2016-05-17 22:19] #5 closed

[2016-05-17 22:36] brian-brazil commented on #5
I'm not talking about the services, I'm talking about the `code` label on `grpc_server_handled_total`.

Not pre-populating the codes means that only experts will be able to reliably graph or alert on failure rates.

[2016-05-17 23:41] mwitkow commented on #5
You cannot pre-populate `grpc_code` since `grpc_server_handled_total` has `grpc_service` and `grpc_method` labels. Are you suggesting populating `grpc_service=dummy`? That's bad.

I will not complicate the per-request path with a pre-population of all error codes. This would require a cache lookup, which would need to be synchronized across requests.

If you feel like there are problems with disco

[2016-05-17 23:47] brian-brazil commented on #5
I'm proposing that once we know a `grpc_service` and `grpc_method` label that we populate the code label for them.  `grpc_service=dummy` wouldn't work in the general case.

Our solution is to handle this in the client.

[2016-05-17 23:49] mwitkow commented on #5
Brian, please read my response. Causing locking or excessive map lookups for an undefined benefit of discoverability (there are docs) is not the way forward.

Please reconsider adding label metadata fi you believe that is a big problem. Otherwise, you can't expect third party open source contributors to jump through hoops.

[2016-05-18 01:04] brian-brazil commented on #5
The problem here is that gRPC doesn't expose sufficient information to provide reliable metrics, so we have to do the next best thing.

If you want a better way to do things, I'd suggest filing a feature request with gRPC to get access to the list of services and methods.

The problem is not discovery, it is correctness. I've not mentioned label value discovery so I'm not sure where you got that f

[2016-05-18 07:17] mwitkow commented on #5
@brian-brazil, the fact of the matter is: gRPC exposes a decent interface, good enough for other integrations (statsd, logging, auth). The interface is similar to HTTP, which many people use.
If Prometheus requires more, it IMHO is a failure on Prometheus' side.

Expecting a third-party integration library to jump through hoops on a "hot" request path is a desperate solution to a wider problem.

N

[2016-11-10 17:17] xiang90 opened #13 "expose number of active streams"
We used to have a customized gPRC metrics system in etcd. And we want to change that to a more standard one. The only missing metrics from this library is the number of active streams.

In etcd, users might keep long running streams (watchers, lease keepalives). So it is important for us to monitor the number of active streams. Do you think this is a useful one in general?

Thanks!

[2016-11-10 17:17] xiang90 commented on #13
/cc @gyho

[2016-11-12 09:37] mwitkow commented on #13
@xiang90 this is already possible: `sum(grpc_server_started_total) - sum(grpc_server_handled_total)`. The reason why this was moved to counters from gauges, is that counters are more reliable way to capture such data across scrape periods.

[2016-11-12 09:38] mwitkow commented on #13
Or am I missing some requirement that you guys have? :)

[2016-11-14 23:20] xiang90 commented on #13
@mwitkow Awesome. We already switched etcd metrics to use this library: https://github.com/coreos/etcd/pull/6851.

[2016-11-14 23:20] #13 closed

[2017-01-21 18:02] prestonvanloon commented on #4
Can you provide a better example? How does gRPC and http /metrics get served? The example doesn't make sense when you are serving like this:

[code]

[2017-01-23 08:27] HTChang commented on #4
I have exactly the same question here. Any good practice to serve on both gRPC and http? @mwitkow

[2017-01-23 08:53] mwitkow commented on #4
@prestonvanloon, I think the thing you're lacking here is a separate goroutine with `http.ListenAndServe`. Unfortunately, the `grpc.Server.Serve` is not an HTTP server by itself, so you need to start a gRPC server and an HTTP server separately.

@HTChang in terms of best practices of serving both gRPC and HTTP.. that's a little bit beyond the scope of this repo in particular. Maybe worthwhile brin

[2017-01-23 15:56] prestonvanloon commented on #4
@mwitkow It looks like they have a method to serveHTTP but it has very poor performance and is mostly undocumented.
https://github.com/grpc/grpc-go/issues/549

One approach is to have the http on a separate goroutine and port, like you suggested, but I'm not sure how that would impact discovery or reporting.

[2017-02-28 16:04] nlamirault opened #14 "Prometheus metrics not provisionned using grpc_auth"
Hi,
*/metrics* are correctly setup for my gRPC server but when i've got an authenticated error, i don't see any metrics.
See: https://github.com/mwitkow/go-grpc-middleware/issues/16

Do you have any idea ? Thanks

[2017-03-19 15:22] mwitkow commented on #14
Addressed inside mwitkow/go-grpc-middleware#16, it's a middleware chain ordering problem.

[2017-03-19 15:22] #14 closed

[2017-03-29 22:41] rolandshoemaker opened #18 "Regenerate protobuf definitions with v1.2 of google.golang.org/grpc"
Released ~two weeks ago. This changes the `grpc.IsSupported` version from 3 -> 4.

[2017-03-29 22:44] rolandshoemaker commented on #18
Never mind, looks like I had an old copy, this appears to have already happened!

[2017-03-29 22:44] #18 closed

[2017-08-01 14:58] AlekSi opened #24 "Please export more code"
Right now I use that code for unary RPC:
[code]
It creates a new derived request with set logger and then calls your interceptor which calls handler. However, it is not possible to do the same for streams without copy&pasting half of that package. Please expose more types and functions to make this possible.

[2017-12-07 23:26] activeshadow opened #28 "Is it possible to expose metrics only client-side?"
The client-side example in the README shows how to add the client-side interceptors, but doesn't include anything about initializing the client-side metrics or exposing them via `promhttp.Handler`. I noticed in the docs that there's no client-side equivalent for the `grpc_prometheus.Register` function, so I'm curious if it's even possible to expose metrics only client-side?

I'm wanting to use thi

[2017-12-15 06:42] saurcery opened #29 "Support Namespace and Subsytem for ServerMetrics"
After poking around with ServerMetrics type I was unable to modify the behavior of`NewServerMetrics()` function under server_metrics.go.
Can someone help me understand how can one add `Namespace/Subsystem` `CounterOpts` to e.g. `ServerMetrics.serverStartedCounter`?

[2018-01-24 02:48] FX-HAO commented on #4
@prestonvanloon Can you share the code?

[2018-03-09 20:16] btc opened #36 "implementing the grpc-go/stats.Handler interface"
Are there any plans to implement the stats.Handler interface? It exposes more information about the payload and size of data on the wire.

[2018-03-14 02:11] sagikazarmark opened #37 "Support custom prometheus registerer"
Currently all metrics are exposed in the global registerer instance. Would be nice if one could provide a custom registerer instead of using a global one.

[2018-03-19 08:44] hsaliak opened #38 "Is this project maintained?"
@mwitkow or any other author - there are outstanding PRs against this project, and no updates for a while.
Is this unmaintained?
Do let me know - If I do not hear back in a week, I will provide a PR to indicate that the project is unmaintained,, so that people with Open PRs are not in limbo..

[2018-03-19 09:28] mwitkow commented on #38
Fair point, I've had a pretty long non-engineering stint in the last couple of months. While I found people from our company to look after [go-grpc-middleware](https://github.com/grpc-ecosystem/go-grpc-middleware), I completely forgot about this one.

I've added @yifanzz and @domgreen to the list of maintainers as they are also looking after go-grpc-middleware.

[2018-03-19 09:30] mwitkow commented on #38
@brancz, do you want to help out here as well? :)

[2018-03-19 09:38] Bplotka commented on #38
I can help as well.

[2018-03-19 09:39] hsaliak commented on #38
@mwitkow This is only normal in OSS and thanks a ton for all the valuable effort on this project so far.
One immediate point of attention for new owners would be https://github.com/grpc-ecosystem/go-grpc-prometheus/pull/35
I think this is straightforward and valuable to merge, but it's for the maintainers to make that call. :)

[2018-03-19 09:40] brancz commented on #38
I'd be happy to help out as well!

[2018-03-19 09:41] mwitkow commented on #37
Happy to take a PR :)

[2018-03-19 09:44] mwitkow commented on #36
Oh, didn't even know about `stats.Handler`. However, looking at it I only see the uncompressed/compressed payload sizes as useful additional metrics. Is that your primary use case?

[2018-03-19 09:46] mwitkow commented on #38
Cool, added @Bplotka  (Thanos maintainer) and @branch (Prometheus maintainer) with write perms here.

[2018-03-19 09:57] brancz commented on #38
@mwitkow  Just to make sure my handle is @brancz, not @Branch (I did get the invite, but just making sure it didn't also go to @Branch )

[2018-03-19 10:56] sagikazarmark commented on #37
Looks like this would require a major rewrite or force us to set a global instance which is exactly what I'm trying to avoid. For now my solution is to merge the global gatherer with a custom instance. But nevertheless it would be nice if global state could be avoided.

[2018-03-19 11:20] brancz commented on #37
This is already possible. Quick example that I threw together, that we should probably document :slightly_smiling_face:

[code]

[2018-03-19 15:07] sagikazarmark commented on #37
Oh, nice, although it looks like it has never been released. Can we expect a new tag in the near future?

[2018-03-19 17:49] btc commented on #36
👍 Payload sizes are of interest.

However, I would read this before looking to implement the interface: https://github.com/grpc/grpc-go/pull/1907#issuecomment-372367780

[2018-03-20 15:20] mwitkow commented on #36
It's probably worthwhile checking whether a wider refactor would be appropriate to see if it `stats.Handler` could replace the existing `newServerReporter` struct. Based on my experience from Stubby days, the stats structs were quite heavy, but maybe here they'll be lightweight.

@btc I'm happy to accept PRs if it's done "on the side" in an optional way. Interested in contributing?

@Bplotka for t

[2018-03-21 09:40] enzo-yang opened #40 "Some test failed"
```go test``` shows errors sometimes, It's not always happen

there maybe errors like bellow

[code]

[2018-03-22 12:01] Bplotka commented on #40
Yup - it seems flaky. I think because all these tests are based on time (e.g that test case have 1 minute to complete), and Travis being super slow at certain moments.

Any PR fixing that are welcome (:

[2018-04-16 12:10] sagikazarmark commented on #37
@mwitkow @brancz any chance for a release?

[2018-04-16 19:09] brancz commented on #37
@Bplotka how do you feel about a new release? I think I'd be ok with that, but would like to identify if there are any breaking changes, as I'm not too familiar with all the changes since the last release (it's been 1.5 years).

[2018-04-16 23:27] Bplotka commented on #37
Yea, let's review what we have and paste into some changelog maybe. Based on that we can tell if it deserves `v2` or just `v1.2`

Can schedule some time for this during next days, but it would be manual process for me as well (:

[2018-04-17 06:08] brancz commented on #37
@Bplotka I was mainly referring to whether you are in the know of anything major that needs to be worked on. I should be able to reserve some time today to write up a change log and see whether that’s compatible with the latest release.

[2018-04-17 06:49] knweiss commented on #37
@brancz If there will be a new major version may I suggest we take a look at the current static analysis/linter status of the package? Esp `golint`'s warning regarding the APIs and package name:
[code]

FWIW there are other linter warnings reported by `gometalinter` but these could be fixed after a major version bump, too:
[code]
I can contribute some fixes if we agree this is worthwhile.

[2018-04-17 06:57] fengzixu commented on #37
@knweiss @Bplotka I think that if we decide to fix those warnings, we should determine what is suitable check tool for our project. Because variety of check tools often report various warnings.

[2018-04-17 07:46] knweiss commented on #37
@fengzixu My suggestion is to consider using `golint` and [megacheck](https://github.com/dominikh/go-tools/tree/master/cmd/megacheck) (which bundles `staticcheck`, `gosimple`, and `unused`) as the reports are sensible in my experience. Travis-CI integration would be great.

[2018-04-17 09:12] brancz opened #43 "New release"
Based on the discussion in #37 I looked through the commits since the v1.1 release, and the actual changes done to the library since that release seem to be:

* Variadic counter options: https://github.com/grpc-ecosystem/go-grpc-prometheus/pull/25
* Allowing non global metrics registries: https://github.com/grpc-ecosystem/go-grpc-prometheus/pull/20

The one thing I'm struggling with is as we have

[2018-04-17 09:14] brancz commented on #37
I opened #43 to discuss the new release. Let me know what you think, and I encourage everyone to quickly double check my statement about backward compatibility to ensure we're not falsely pushing out a new minor version if it's not actually compatible.

[2018-04-17 10:31] Bplotka commented on #43
Thanks for checking @brancz ! I double checked git history and yea - not that many were actually changed and not really any compatiblity break.

You mean this?
[code]
You are right, these methods were never released, so no compatiblity break. I agree, let's remove them.

Agree to look through lint issues each by each. Some are not straightforward to fix, so definitely (e.g package renames) will be

[2018-04-17 16:59] brancz commented on #43
all of the above sounds good to me

[2018-04-17 21:45] knweiss commented on #40
FWIW: I'm working on some other fixes and also just noticed occasional test failures in `TestServerInterceptorSuite` on my local system (8-core, otherwise idle):
[code]

[2018-04-17 23:36] knweiss commented on #43
@brancz @Bplotka I've just created two PRs (#44 and #45) with some compatible cleanups for `v1.2` as a start (I didn't have more time today).

[2018-04-18 03:27] fengzixu commented on #43
@brancz @Bplotka Hi guys, i reread the code of out project and look #20 carefully.
I agree that we should remove the non-standard Register and MustRegister methods on the ClientMetrics and ServerMetrics structs. In my project of company, i will revise the use-pattern of prometheus registry. That's a good best practice of prometheus in go. 😀

For revise lint issues, i agree that we shuold handle it

[2018-04-18 07:42] brancz commented on #43
I merged #44 and #45 with the unproblematic linting errors and opened #46 to remove the deprecated functions.

What's left is that we need to go through the open PRs and see what we want/need to get down before the `v1.2` release.

[2018-04-18 08:30] brancz commented on #37
Closing here as non global registry is already possible. Everything regarding a new release is discussed in #43

[2018-04-18 08:30] #37 closed

[2018-04-18 08:31] brancz commented on #38
We've picked up the maintenance of this, so I'll close this issue.

[2018-04-18 08:31] #38 closed

[2018-04-18 08:33] brancz commented on #28
You can use the available functionality to create a new "ClientMetrics" struct and register it on any metrics registry you want, that way you'll get only client metrics.

[2018-04-18 08:33] #28 closed

[2018-04-18 08:36] brancz commented on #24
Any suggestions? Can you elaborate more on how you imagine this to work with streams and what you currently have to do?

[2018-04-18 08:37] brancz commented on #43
@knweiss and I went through some PRs and issues and closed/merged some. Everything outstanding is nothing we can't do in the future I would say. So after #46 we can do a release I would say.

[2018-04-18 11:25] Bplotka commented on #43
Awesome guys, thanks! I reviewed all the outstanding things & merged #46 . I agree we are ready for a release now.

We can wait a little bit for any movement in pending PRs, but none of these are blocking release I would say.

[2018-04-18 12:13] brancz commented on #43
I'm not in a hurry so I think we could wait a few more days. It would be nice if we can get #17 down, but certainly no show stopper.

Remaining outstanding issues are good candidates for future releases I would say.

[2018-04-18 14:02] knweiss commented on #43
@brancz Please consider #47, too.

[2018-04-18 14:14] sagikazarmark commented on #43
I agree, but I think if nothing blocks a release, waiting has no real gain: you can just do another release whenever you want.

[2018-04-18 14:42] knweiss opened #48 "Travis: go versions?"
Two questions:

- Shouldn't we add the **two supported** (and therefore most important) Go versions go1.9 and go1.10 to Travis, too?
[code]
- What about removing old versions? If we drop go1.6 we could e.g. import package `context` instead of the old `golang.org/x/net/context` as it was integrated into the standard library in go1.7.

[2018-04-18 14:52] brancz commented on #48
Adding 1.9 and 1.10 sounds good to me.

What does grpc use? It's probably ok to use the standard lib one by now.

[2018-04-18 15:04] knweiss opened #49 "Next major version: Changes to consider"
This issue is a wip collection of (compatibility-breaking) changes to consider for the next **major** version:
- The package name currently is `grpc_prometheus`. However, the [recommendation for Go package names](https://blog.golang.org/package-names) is _"Good package names are **short and clear**. They are lower case, with **no under_scores** or mixedCaps."_ Consequently `golint` complains:
[cod

[2018-04-18 15:52] brancz commented on #48
In that case we should probably stick to it here as well.

[2018-04-18 17:04] knweiss commented on #48
@brancz OTOH: Travis-CI of `github.com/prometheus/client_golang` requires at least go1.7 since September 2017.

Adding go1.9 and go1.10 in #50 (if it works).

[2018-04-18 17:12] #48 closed

[2018-05-07 09:43] fengzixu commented on #37
Can i ask a question about global registerer instance?
Except a global variable pattern is bad, anyone else disadvantage in using global registerer instance?
I want to use custom register in out team, but i don't have some strong proofs to persuade them.

[2018-05-07 09:43] fengzixu commented on #37
@brancz @sagikazarmark

[2018-05-07 14:53] brancz commented on #37
I've seen a number of projects that register global metrics (also libraries) that then pollute the global metrics library, the worst about this is that often you don't even know what information you expose. We prefer non-global registries because we want to know explicitly what we instrument (also note that registering things twice can cause panics). Also as an example: minikube in Kubernetes comb

[2018-05-07 16:03] fengzixu commented on #37
According to your explanations, i summarized some key points about why non-global registry at below.

1. You should exactly know what metrics are exposed. Because an apparent bug  about registering a same metric twice appear easily.
2. We should separate different metrics between different components in our project. Mixed metrics make us very confusion.

Except above two points, is there anything

[2018-05-08 03:38] brancz commented on #37
+ any article you can find on why globals should be avoided :) otherwise yes that's a good summary

[2018-05-08 07:04] Bplotka commented on #37
Yea, agree with @brancz  ^^ You know @fengzixu , there is a good way to convince your colleagues:
1. Let's say you have metric `app_http_requests_total` somewhere hidden in your project and registered in file's `func init()` (because why not!)
2. Sneakily add same metric (maybe a little bit obfuscated) `"app_" + "http" + "_requests" +"_total"` in yet another package somewhere deeply.
3. Ask someon

[2018-06-03 15:58] fengzixu opened #52 "Is the time to release a new version for this project?"
After previous review, there were long time passed. I think we should find the time to release a new version. Besides, should we discuss the next plan for this project ?

@Bplotka @brancz

[2018-06-04 08:39] Bplotka commented on #52
Yup, we should do both. Let's release first.

[2018-06-04 12:28] #52 closed

[2018-07-06 10:07] onlyjob opened #56 "1.2.0: TestServerInterceptorSuite failures"
As reported in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=902466
`TestServerInterceptorSuite` sometimes fails as follows:

[code]

https://tests.reproducible-builds.org/debian/rb-pkg/buster/amd64/golang-github-grpc-ecosystem-go-grpc-prometheus.html

[2018-07-06 10:33] onlyjob commented on #56
Problem is easy enough to reproduce by running tests repeatedly. Usually it only takes 2...15 tries before this test fail.

I could not reproduce after applying the following patch:

[code]

[2018-07-07 00:54] onlyjob commented on #56
We've got some feedback from autobuilders and unfortunately changing this timeout turned out to be ineffective... Even though adjusting timeout changed outcome in my environment, on autobuilders this test still fails reliably and reproducibly... No ideas why... :(

[2018-07-09 16:38] brancz commented on #56
In that case and since it’s relatively easy to reproduce I think we should record cpu and mutex/lock profiles and see if there is anything we can do. (If it’s syscalls then there is little we can so, but it’s worth trying I think)

[2018-07-11 08:50] Bplotka commented on #56
Yea, we cannot bumb timeouts indefinitely. And CI tends to be slow. We need some other solution to this.

[2018-07-26 19:34] markeijsermans opened #57 "Add Summary metrics"
I've POC'd adding summary metrics in a similar way as histograms. It's enabled via a similar method `EnableHandlingTimeSummary()`. Is there interest in me submitting a PR?

Motivation:
Our monitoring situation is in transition as we move to prometheus/grafana. We currently export metrics to a hosted solution via prometheus remote adapter. In that hosted solution calculating a p99 from histogram bu

[2018-07-26 19:45] brancz commented on #57
Thanks for opening this issue to start the dicussion! :slightly_smiling_face:

My feeling is that we would probably do more harm if we add it, as most people don't understand that summaries are meant for cases where you can't control latencies at all, and would just enable it without understanding what they're doing.

I understand your case and I think what you're doing makes sense in your situati

[2018-07-27 11:04] brancz commented on #57
I think extensibility would be a good compromise.

[2018-07-27 11:19] Bplotka commented on #49
Thanks for this list, definitely package names might be something we should improve, but breaking compatibility is not great (:

[2018-07-27 11:20] Bplotka commented on #43
v1.2.0 was releases (:

[2018-07-27 11:20] #43 closed

[2018-07-27 18:44] Bplotka commented on #57
Yup, something like this.

pt., 27 lip 2018, 20:24 użytkownik Mark Eijsermans <notifications@github.com>
napisał:

[2018-09-11 22:20] davejohnston opened #59 "Client Time Histogram for bidi_stream"
It looks like after adding EnableClientHandlingTimeHistogram() I can collect counters for unary rpc messages, but there is not reporting on bidirectional streams.

Is this intentional, or a bug?

[2018-09-12 11:58] davejohnston commented on #59
I was hoping to be able to use it to calculate the average number of messages sent over the stream per second, over a period of time.

[2018-09-12 12:44] brancz commented on #59
I think that's reasonable, but that would be accomplished with a counter, as you use the `rate` function over the monotonically increasing counter value, thus yielding the messages per second. This is already available with these metrics: https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/c225b8c3b01faf2899099b768856a9e916e5087b/client_metrics.go#L44-L54

[2018-09-12 18:53] davejohnston commented on #59
Thanks - looks like the irate() function with the above counter solves my issue.

[2018-09-12 18:53] #59 closed

[2018-10-11 11:31] piotrkowalczuk commented on #37
@sagikazarmark you can try [promgrpc](https://github.com/piotrkowalczuk/promgrpc) it allows what you need. It simply implements `prometheus.Collector` interface.

[2018-10-11 12:40] bwplotka commented on #37
@piotrkowalczuk just curious, what's the difference between this project and yours https://github.com/piotrkowalczuk/promgrpc ?  (:

[2018-10-11 13:38] piotrkowalczuk commented on #37
@bwplotka Main differences:
* Go module ready.
* [promgrpc.Interceptor](https://godoc.org/github.com/piotrkowalczuk/promgrpc/v3#Interceptor) implements [prometheus.Collector](https://godoc.org/github.com/prometheus/client_golang/prometheus#Collector) and [stats.Handler](https://godoc.org/google.golang.org/grpc/stats#Handler) interface. Solves #36.
* Ability to pass constant labels through [promgrp

[2018-10-15 07:31] brancz commented on #37
How about we merge those things back into this code base and cut a 2.0? :)

[2018-10-15 20:01] AlekSi commented on #24
Was able to achieve what I wanted with [grpc_middleware.WrappedServerStream ](https://godoc.org/github.com/grpc-ecosystem/go-grpc-middleware#WrappedServerStream).

[2018-10-15 20:01] #24 closed

[2018-10-18 08:12] piotrkowalczuk opened #60 "Version 2 - promgrpc merge"
I'm the author of [promgrpc](github.com/piotrkowalczuk/promgrpc) (that, in fact, is using a lot of code from this repository). In reply to https://github.com/grpc-ecosystem/go-grpc-prometheus/issues/37#issuecomment-429737667 I would like to know if you are open to incorporate my version into your codebase/organization.

More about differences can be found here: https://github.com/grpc-ecosystem/go

[2018-10-18 10:49] brancz commented on #60
@bwplotka how do you feel about this? I think in open in general about this. Of course we’ll want to go through things in detail but I do think there are a lot of good things in there and it would be nice to have a canonical lib.

[2018-10-18 11:32] bwplotka commented on #60
Of couse. I believe that there is a lot more value in making one thing better than having 2 separate implementations that does the same thing (:

[2018-10-19 08:40] piotrkowalczuk commented on #60
I'm glad to read that! I'm about to prepare a pull request. I'm wondering what would be the preferred way of doing it. Complete override, submodule or maybe a separate repo. Once PR is prepared we could go through it and change/adjust what is needed.

[2018-10-19 14:48] bwplotka commented on #56
How running same test 20 time halps for this issue?

[2018-10-20 14:32] bwplotka commented on #60
Here you go: https://github.com/grpc-ecosystem/go-grpc-prometheus/tree/draft-v2.0.0

[2018-10-25 07:03] #56 closed

[2018-11-07 06:02] ceshihao opened #65 "How to customize grpc metrics"
There are thousands of grpc methods in my app, which makes a single metrics is larger than 16MB.

I would like to customize the metrics (e.g. remove `grpc_method` label) to reduce its size.

Is it doable?

[2018-11-07 06:07] ceshihao opened #66 "How to simplify grpc prometheus metrics"
There are thousands of grpc methods in my app, which makes the single metric size is larger than 16MB.

I would like to customize the metrics (e.g. remove `grpc_method` label) to reduce its size.

Is there any doable way to achieve it?

[2018-11-07 07:02] #65 closed

[2018-11-12 20:27] bcherukuri opened #67 "do we have c++ client library as well?"
This is great, but my client is C++, do we have equivalent C++ library as well?

[2018-11-13 12:36] brancz commented on #67
I work only with go and this repo, I don't know more than what anyone could google, sorry :/ . Maybe @bwplotka knows about something?

[2018-11-13 15:17] bwplotka commented on #67
Not aware of any as well ): Sorry. It does not look like there is any from first glance. Sounds like a cool project to start (:

[2018-12-04 10:39] CikeyPlanet opened #68 "Grafana dashboard for go-grpc-prometheus"
I've uploaded a grafana dashboard template for go-grpc-prometheus: https://grafana.com/dashboards/9186 .

And I'd like to receive some advice from others :)

[2018-12-04 12:43] brancz commented on #68
Nice :slightly_smiling_face: ! Any chance you would like to convert this to a [Prometheus mixin](https://docs.google.com/document/d/1A9xvzwqnFVSOZ5fD3blKODXfsat5fg6ZhnKu9LK3lB4/edit#heading=h.gt9r2h2gklj3)? That would be super nice as it can be used more declaratively that way.

[2019-01-17 12:46] vanship82 opened #69 "Change context import to system context"
https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/c225b8c3b01faf2899099b768856a9e916e5087b/server_metrics.go#L5

It breaks the build with grpc v1.18.0

[2019-01-17 12:49] brancz commented on #69
I'm happy with changing to the core package. Wdyt @bwplotka ?

[2019-01-17 13:01] vanship82 commented on #69
Thanks! Here is another one 👍
https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/68e3a13e41175110a447e67246a59873d6aca902/client_metrics.go#L7

[2019-01-17 13:21] bwplotka commented on #69
I think the Golang compatibility is the key question here. We need to choose one (:

Either deprecate old Golang (I think 1.6 or something?) or not allow grpc v1.18.0 ;p

I feel like a new release that goes with gRPC on golang compatiblity side is way to go with this. :+1:

[2019-01-17 13:36] brancz commented on #69
Seems like we're in agreement :)

[2019-03-29 16:41] cstockton commented on #29
Looks like this issue is a bit old, but it took me a few minutes of digging to figure out how to do this properly so figured I would share:

[code]

[2019-03-29 16:50] cstockton opened #73 "Document how to register Server or change init() to register the same way"
I needed to change the namespace so I checked here first and found https://github.com/grpc-ecosystem/go-grpc-prometheus/issues/29. It took a few minutes to figure out because all the metrics are private on *Server and the init() registers them explicitly, and my grep found no other calls to MustRegister for a *Server type. I realized after digging into *Server that it was itself a collector so reg

[2019-04-01 10:39] brancz commented on #73
I think we should generally recommend not to use the globals/init, so the latter sounds good to me.

[2019-04-02 11:54] #69 closed

[2019-04-09 09:31] NBR41 opened #75 "Histograms doesn't include grpc_code"
Hi,

unlike the documentation in the README file, it appairs that the grpc_code is not included as label in the histogram.

[code]

[code]

The grpc_code is not in the predefined labels.

Is there a way to add grpc_code, or maybe it would be nice to correct the README ?

Thanks

[2019-04-09 11:26] brancz commented on #75
It'd be nice to hear @bwplotka's opinion as well, but I feel having the `grpc_code` dimension here would be too high cardinality for too little gain.

[2019-04-10 07:34] NBR41 commented on #75
no i've not this particular need for now.
I was interrested to test that as it's in the doc.
My point was just to correct the doc to avoid potential new future issues on this subject :)

[2019-04-10 08:16] bwplotka commented on #75
Cool, let's correct docs for now, thanks for this. Marking as a docs bug.

[2019-05-03 14:04] yspanchal commented on #29
@cstockton if i want to use 'sbprom' counter metrics in one of my grpc demo service like this one 'pb.RegisterDemoServiceServer(grpcServer, demoServer)' and i want to increment counter based on certain condition in demo service is it possible ? can you provide small example for this ?

[2019-05-03 16:43] cstockton commented on #29
@yspanchal You would want to wrap the [grpc.StreamServerInterceptor](https://godoc.org/google.golang.org/grpc#StreamServerInterceptor) - it's just an ordinary function so you can wrap the call to the sbprom interceptors.

[code]

[2019-05-06 05:39] yspanchal commented on #29
@cstockton My problem is something different.

refering to this example.

    https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/master/examples/grpc-server-with-prometheus/server/server.go

on line [39]( https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/master/examples/grpc-server-with-prometheus/server/server.go#L39) new customizedCounterMetric is initialized.

on line number [26]

[2019-05-17 12:53] serhiimakogon opened #76 "Support custom grpc_code"
Hi! Is there a way to set custom grpc error codes?

`allCodes` var here `grpc-ecosystem/go-grpc-prometheus/util.go`.

[2019-07-23 19:51] electron0zero opened #77 "excluding grpc.health.v1.Health from server metrics"
I would like to exclude all metrics from `grpc.health.v1.Health` from list of metrics that are collection from my grpc server.
I looked for it code but couldn't figure out how to do it.

Is there are way to do it?, any pointers would be helpful.

Thanks

[2019-08-08 13:14] SuperQ opened #78 "Feature: Gauge for currently connected clients"
It's useful to monitor the current number of connected clients. This can be used to check against resource exhaustion or leaks, like go rotines, or open FDs.

[2019-08-16 11:19] vespian opened #79 "pre-defining gRPC call metrics"
Currently, the vector metrics are created on the fly - i.e. once the call is made, the corresponding metric label is registered. So for example, if I have a unary gRPC service "Foo", only after I make a call to "Foo", the metrics with labels `grpc_method=Foo` `grpc_service=FooService` will appear in Prometheus' `/metrics` endpoint.

Would it be possible to add a method/function to pre-warm metrics

[2019-08-16 14:08] brancz commented on #79
Are you looking for [`.InitializeMetrics`](https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/ae0d8660c5f2108ca70a3776dbe0fb53cf79f1da/server_metrics.go#L132)?

[2019-08-16 15:48] vespian commented on #79
@brancz Thanks for a reply. Yes, something like that but for a client.

[2019-08-16 20:21] brancz commented on #79
I don’t believe it exists, but I think I’d be a great addition! :)

[2019-08-22 08:43] lambdaxs opened #81 "why UnaryClientInterceptor use SentMessage() and ReceivedMessage()"
https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/c225b8c3b01faf2899099b768856a9e916e5087b/client_metrics.go#L111

SentMessage and ReceivedMessage is use to StreamClientInterceptor?

[2019-08-28 09:10] brancz commented on #81
Please elaborate, I don't understand what you're asking.

[2019-09-27 22:27] FUSAKLA opened #83 "Unwrapping errors before converting to gRPC status"
Hi, I discovered that when using error wrapping, the reported `grpc_status` is reported as an `Unknown` status. I encountered this issue in the Thanos project where for example `context canceled` error is normally reported as `Cancelled` gRPC status but once wrapped becomes `Unknown`.

The issue should be eventually solved in the go-grpc status package. There is even an issue for this https://gith

[2019-09-30 07:44] brancz commented on #83
I think using the stdlib wrapping/unwrapping introduced in go1.13 is the right thing to do, however, I think the best thing to do is provide a split by using [build tags](https://golang.org/pkg/go/build/#hdr-Build_Constraints) for some time.

[2019-09-30 07:56] FUSAKLA commented on #83
Ok, but that does not work with the `pkg/errors` which is for example widely used in Prometheus itself and related components.

So better to not support this and migrate everywhere to the 1.13 error wrapping?

[2019-09-30 08:06] brancz commented on #83
Sorry should have been more clear:

* >=1.13 attempt stdlib unwrapping _and_ pkg/errors unwrapping
* <1.13 _only_ attempt pkg/errors unwrapping

[2019-09-30 08:30] FUSAKLA commented on #83
Ok, that sound good :+1:  I wasn't aware of build tags, need to take a look at it.

[2019-10-01 15:26] bwplotka commented on #83
Agree with @brancz  :+1: with build tag solution.

[2019-10-01 15:30] FUSAKLA commented on #83
I already updated the draft to PR using build tags, PTAL https://github.com/grpc-ecosystem/go-grpc-prometheus/pull/84

[2019-10-02 09:05] #83 closed

[2019-10-29 19:47] bwplotka opened #85 "Add optional histogram of msg size."
It would be useful to see e.g avg message size for the frame.

If we want this then for AC:
Add histograms (optional):
* grpc_server_msg_size_received_bytes
* grpc_client_msg_size_received_bytes
* grpc_server_msg_size_sent_bytes
* grpc_client_msg_size_sent_bytes

[2019-12-29 20:25] yeya24 commented on #85
Hello, can I work on this?

[2020-01-06 13:07] brancz commented on #85
I believe no one is actively working on this, so feel free to grab it! :)

[2020-01-28 15:29] bzon commented on #28
@brancz can you provide an example?

[2020-03-25 16:08] robsonmeemo commented on #85
Ideally the whole metric collection should move to the `grpc.StatsHandler` interface. That would give easy access to the message size.

[2020-03-29 12:34] tonywang opened #86 "grpc_client_msg_received_total is counted only once invoke server-side error"
Hi,

Today I tested the client-side metrics and found grpc_client_msg_received_total cannot be display in metrics, as it will only be counted if the client invoked the server failed.

https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/6af20e3a5340d5e6bde20c8a7a78699efe19ac0a/client_metrics.go#L177-L189

Thanks

[2020-03-31 15:51] #86 closed

[2020-03-31 22:04] tonywang commented on #85
I

[2020-04-02 23:56] tonywang commented on #85
I can contribute to this task. I have a few questions to confirm with you.
1. How to measure the message size, it is currently difficult to get the message size in the interceptor. What suggestions do you have?
2. Use the histograms for the message bytes. How do we plan the size of the bucket, 4096,8192,12288,...4M?
3. If the default size is changed by caller, do the buckets need to be modified dy

[2020-04-03 00:06] robsonmeemo commented on #85
Look at `grpc.StatsHandler` for the right way to get the message size. But you probably need to move all the code to use that instead of being an interceptor.

I'd make the bucket size configurable by the server during initialization and not worry about the client.

[2020-04-08 23:07] tonywang commented on #85
Whether our message size indicator needs to accumulate all possibilities? For example, the 3 kind of data received by the server, such as the `received header`, `received trailer` and `received payload`.

Do we need to accumulate these three sizes as `grpc_server_msg_size_received_bytes` metric?

I think the data size of the payload is what we are most concerned about, and the size limit of the me

[2020-05-12 09:55] bwplotka opened #91 "Move this repository to go-grpc-middleware.v2"
Hi,

As maintainers, we decided it would be healthy and much easier to maintain and improve this project if we would join the effort on creating best middleware (interceptors) together with [go-grpc-middleware](https://github.com/grpc-ecosystem/go-grpc-middleware) project. In fact, I am maintaining both of the projects. (:

We believe it can increase movement and allows us to clean up old dead cod

[2020-05-31 20:53] jgraettinger opened #92 "client-stream metrics don't invoked Handled on OK status"
See: https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/master/client_metrics.go#L230-L244

The problem with this block is that CloseAndRecv of a client-only stream sends stream close, receives the single response message, and then _never reads stream EOF_ which would cause Handle to be invoked.

[2020-05-31 21:20] jgraettinger commented on #92
FWIW, a work-around is to add an extra RecvMsg, for purposes of draining the EOF & causing the interceptor to run.

[2020-06-05 14:27] glukasiknuro opened #93 "Option to reduce cardinality of grpc_server_handled_total"
For each method the `grpc_server_handled_total` exposes currently ~17 labels, per each status code. In most cases having just SUCCESS / FAILURE distinction would be enough, and would reduce amount of exported labels, which maybe an issue in case of multiple rpc methods.

For a single data point, imagine a server with 20 RPC methods, each replica will then exports about 400 labels just for RPC stat

[2020-06-09 12:50] brancz commented on #93
Are you asking for lazy initialization or the ability to add/remove labels?

[2020-06-09 15:13] glukasiknuro commented on #93
Option to change `grpc_server_handled_total` - or something similar - to expose binary SUCCESS / FAILURE status instead of having one label per status.

[2020-06-09 15:36] brancz commented on #93
Got it. I think that request is reasonable, however, keep in mind that we are in the process of reworking this project (RE: https://github.com/grpc-ecosystem/go-grpc-prometheus/issues/91), and as a result we are unlikely to accept PRs that are not bug fixes. That said I think this would be an amazing addition to the reworked version! :)

[2020-06-09 16:56] bwplotka commented on #93
Yes! We are looking for some help as well on that (:

[2020-07-31 13:21] #76 closed

[2020-09-07 15:43] mkmik commented on #75
I think it's not unreasonable for succeeded and failed calls to behave quite differently; in other words failed calls often are outliers, latency wise. For example when a deadline is exceeded somewhere, failed calls will tend to be vastly slower than regular calls. In other cases, errors will be detected early (e.g. bad requests, failed preconditions) and thus artificially skewing the distribution

[2020-12-30 09:18] brancz opened #96 "Allow limiting grpc codes tracked in histrogram"
Latency alerts tend to be most focused on succeeding calls, and since errors can already be accurately I would like to allow to ignore failing requests from the histogram metrics.

I am a bit torn though on what to do:

1) Make this configurable, I don't really like this because suddenly the same histogram metric of different processes may behave totally different from the next.
2) Change the defa

[2020-12-30 14:02] bwplotka commented on #96
Totally +100 to this.  I was thinking about this as well. In fact I think we should care about user error, system error etc. Histograms per grpc code would be bit too cardinal IMO, but is also an option.

I have a proposition:

* Finalize move of this lib to https://github.com/grpc-ecosystem/go-grpc-middlewares and implement new histograms as totally new major version of go-grpc-prometheus (and in

[2020-12-30 16:28] brancz commented on #96
2) would be totally possible as a major version breaking change, so that sounds good to me. What's left to "finalize"? Happy to help out!

[2020-12-30 16:38] bwplotka commented on #96
Here is a plan: https://github.com/grpc-ecosystem/go-grpc-middleware/issues?q=is%3Aissue+is%3Aopen+label%3Av2

Literally, at any point now, we could release v2 officially. We already have release candidates. But I would love to have metrics in first so https://github.com/grpc-ecosystem/go-grpc-middleware/issues/346

Plus I think the last thing that has to be finalized is to moving to protobuf Go b

[2021-03-05 13:17] atul161 opened #97 "Metrics not updated automatically"
ctx, cancel := context.WithCancel(ctx)
	defer cancel()

	srv := &http.Server{
		Addr:    config.ServerHost + ":" + config.PromthesiusPort,
		Handler: promhttp.HandlerFor(promthesusConfig.Registry, promhttp.HandlerOpts{}),
	}
	//initializing metrics
	promthesusConfig.ServerMetrics.InitializeMetrics(grpcServer)
	grpc_prometheus.Register(grpcServer)
	// graceful shutdown
	c := make(chan os.Signal, 1)

[2021-03-05 14:43] bennetty commented on #79
hi @brancz im looking to implement something to initialise the metrics for the client side and was wondering if you had any suggestions? Im think a function that initialises a particular method could be acceptable? let me know your suggestions!

`// preRegisterMethod can be invoked on a client method to pre-populate a client method.
func PreRegisterMethod(metrics *ClientMetrics, fullMethod string,

[2021-03-09 08:15] JST1703 commented on #85
Hy there
I am working on a project that would highly benefit from this issue. Do you mind if I had a look at it? I'll see what I can do to review the proposed PR and maybe get this resolved.

[2021-04-22 10:17] robert-heinzmann-logmein opened #100 "heads up: codecov.io security incident - https://about.codecov.io/security-update/"
Hi there.

This might be an unusual "issue" beeing reported.

There has been a security incident in codecov.io with the bash-uploader script (see [1] for details) which potentially exposed secrets to 3rd parties.

It seems you are using the referenced bash uploader in your .travis.yml file. I wanted to draw your attention to this incident in case you missed it.

It would be great if you could veri

[2021-04-28 10:40] kutty-kumar commented on #85
is this still open? if yes, can i take it up please ?

[2021-05-14 07:58] lilic opened #101 "Exemplars support: Include trace ID"
Hello 👋

Is there any way currently (I haven't been able to find it yet) to include the Trace ID as part of the interceptor to be able to make use of Prometheus Exemplars? If not, are there plans to add this?

Thank you and sorry if I missed something obvious!
@bwplotka @brancz

[2021-05-18 13:24] bwplotka commented on #101
Totally! However, it's mainly for Prometheus part that is now developed here https://github.com/grpc-ecosystem/go-grpc-middleware/tree/v2, I will migrate your issue there if that's fine (:

[2021-06-17 14:55] katexochen opened #103 "Support custom prometheus registerer"
I want to use a custom registry, currently using go-grpc-prometheus in v1.2.0.
In #37 , @brancz suggested the following:

[code]
But for v1.2.0, `ServerMetrics` hasn't got a `Register()` function.
Is there another way to use a custom registry?

[2021-06-24 06:58] katexochen commented on #103
I found the answer to my question in an [old commit](https://github.com/grpc-ecosystem/go-grpc-prometheus/commit/4480810c7d1d60fe491dbe543ef259e99a44c63b#diff-126d9d70884c384857b3fdee0540bbe781165092c350bd2d99f6d0d29a9a0b0f): ServerMetrics implements Prometheus Collector interface. So you can simply do the following:

[code]

[2021-06-24 06:58] #103 closed

[2022-01-28 14:54] baryluk opened #108 "Average latency without histograms"
Is there a way to enable `grpc_server_handling_seconds_sum` and `grpc_server_handling_seconds_count`, so one can do aggregations and computations of average latency:

[code]

without the full blown histograms (which do have storage cost on Prometheus)?

Even better, would be ability to have also metrics without `grpc_code`, but I believe this is tracked in a separate issue.

[2022-04-13 17:16] ashu82492 commented on #75
IMP it should have a label with SUCCESS/FAILURE values at least in `grpc_server_handling_seconds_bucket` bucket.

[2022-05-19 15:21] gmolau commented on #75
I'm also a bit surprised about this issue, for golden signals it is [usually recommended](https://sre.google/sre-book/monitoring-distributed-systems/) to analyze latency for ok/error separately:

The cardinality argument doesn't seem very strong given that there are only a small number of status codes. I would appreciate if this could be fixed.

[2022-11-28 18:15] tamama commented on #67
+1

It would be really nice if we would have  cpp-grpc-prometheus  added to the ecosystem.